<div class="container mt-4">

  <h2>Editar Usuário</h2>

  <form (ngSubmit)="atualizar()">

    <div class="mb-3">

      <label>Nome</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="usuario.nome"
        name="nome">
    </div>

    <div class="mb-3">

      <label>Email</label>

      <input
        type="email"
        class="form-control"
        [(ngModel)]="usuario.email"
        name="email">
    </div>

    <button class="btn btn-primary" type="submit">
      Salvar
    </button>

  </form>
</div>