<div class="container-fluid">

  <div class="conteudo-full">

    <div class="header-biblioteca">
      <h2>Sistema Biblioteca</h2>

      <button class="botao-cadastro" routerLink="/cadastro">
        + Cadastrar Livro
      </button>
    </div>

    <div class="lista-livros">

      <div class="livro-item" *ngFor="let livro of livros">

        <div class="livro-card">

          <img
            [src]="'http://localhost:8080/livros/' + livro.id + '/imagem'"
            class="livro-img"
            alt="Capa do livro">

          <div class="card-body">

            <h6>{{ livro.nome }}</h6>
            <p>{{ livro.autor }}</p>
            <p>ISBN: {{ livro.isbn }}</p>
            <p class="qtd">Qtd: {{ livro.quantidade }}</p>

            <button (click)="inativarLivro(livro.id)">
              Inativar
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>