<div class="container mt-4">

  <h2>Estatísticas da Biblioteca</h2>

  <div class="cards">

    <div class="card">
      <h3>Total de Livros</h3>
      <p>{{ estatisticas?.totalLivros }}</p>
    </div>

    <div class="card">
      <h3>Total de Exemplares</h3>
      <p>{{ estatisticas?.totalExemplares }}</p>
    </div>

    <div class="card">
      <h3>Livros Sem Estoque</h3>
      <p>{{ estatisticas?.livrosSemEstoque }}</p>
    </div>

    <div class="card">
      <h3>Livros Emprestados</h3>
      <p>{{ estatisticas?.livrosEmprestados }}</p>
    </div>

    <div class="card">
      <h3>Livros Devolvidos</h3>
      <p>{{ estatisticas?.livrosDevolvidos }}</p>
    </div>

  </div>

</div>