<div class="container mt-5">

<h2 class="fw-bold mb-4 text-success">
  Cadastrar Livro
</h2>

<div class="card border-0 shadow-sm p-4">

<input
type="text"
class="form-control mb-3"
placeholder="Nome do livro"
[(ngModel)]="novoLivro.nome"
/>

<input
type="text"
class="form-control mb-3"
placeholder="Autor"
[(ngModel)]="novoLivro.autor"
/>

<input
type="text"
class="form-control mb-3"
placeholder="ISBN"
[(ngModel)]="novoLivro.isbn"
/>

<input
type="number"
class="form-control mb-3"
placeholder="Quantidade"
[(ngModel)]="novoLivro.quantidade"
/>

<input
type="file"
class="form-control mb-3"
(change)="selecionarImagem($event)"
/>

<button
class="btn btn-success w-100 mt-2"
(click)="cadastrar()"
>
Cadastrar Livro
</button>

</div>

</div>
